   <%- include("header") -%>
   
    <div class="box" id="heading">
        <h1><%= kindDay %></h1>
    </div>

    <div class="box">

        <%newItemList.forEach(function(item){%>
            <div class="item">
                <input type="checkbox">
                <p><%=item.name%></p>
            </div>
        <%})%>

        <form class="item" action="/" method="post">
            <input type="text" name="task" placeholder="add new task" autocomplete="off">
            <button type="submit" name="button" value="<%= kindDay %>">+</button>
        </form>
    </div>

    <%- include("footer") -%>