   <%- include("header") -%>
   
    <div class="box" id="heading">
        <h1><%= kindDay %></h1>
    </div>

    <div class="box">
        <%for(var i=0;i<newItemList.length;i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%=newItemList[i]%></p>
            </div>
        <%}%>

        <form class="item" action="/" method="post">
            <input type="text" name="task" placeholder="add new task" autocomplete="off">
            <button type="submit" name="button" value="<%= kindDay %>">+</button>
        </form>
    </div>

    <%- include("footer") -%>